<!DOCTYPE html>
<html>
<head>
  <title>SockjsDemoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

<nav id="new-message-container">
  <div class="container">
    <%= form_for Message.new, remote: true do |f| %>
      <div class="input-group">
        <%= f.text_field :body, class: 'form-control input-lg' %>
        <span class="input-group-btn">
          <%= f.submit "Send", class: 'btn btn-lg btn-block btn-success' %>
        </span>
      </div>
    <% end %>
  </div>
</nav>

</body>
</html>
